VITE_API_URL=https://vitaplena-backend.onrender.com/api
VITE_SUPABASE_URL=https://kvbjqetankipzminsfrs.supabase.co
VITE_SUPABASE_KEY=
VITE_REDIRECT_URL=https://vitaplena-frontend-sa79.vercel.app
VITE_WHATSAPP_CONTACT=51929932906
